# IDE Configuration folders
.idea
.vscode/

# Packaging
build
*.egg-info

# Python environment
__pycache__
venv
.py[cod]
dist
.nox

# Mypy cache
.mypy_cache
.dmypy.json

# Other
_build
testing.py
config.json
RoboEpikLogs.log
*.mp3
*.mp4
